version: '{branch}-{build}'

clone_depth: 5

cache:
- '%LOCALAPPDATA%\pip\Cache'

environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    PYTHON: "C:\\Python27-x64"
    PYTHON_VERSION: "2.7"
    PYTHON_ARCH: "64"
    TOX_ENV: "py27"
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    PYTHON: "C:\\Python35-x64"
    PYTHON_VERSION: "3.5"
    PYTHON_ARCH: "64"
    TOX_ENV: "py35"
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    PYTHON: "C:\\Python36-x64"
    PYTHON_VERSION: "3.6"
    PYTHON_ARCH: "64"
    TOX_ENV: "py36"

init:
- echo %PYTHON% %PYTHON_VERSION% %PYTHON_ARCH%

install:
- "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PATH%"
- where pip
- "%PYTHON%\\python.exe -m pip install --upgrade --user pip"
- pip install --upgrade setuptools wheel
- pip install --upgrade virtualenv coveralls tox

build: off

test_script:
- tox -e "%TOX_ENV%"
